<section class="container py-10 pt-20">
  <!-- Title  -->
  <header class="relative">
    <h2 class="title font-bondi uppercase">October</h2>
    <p class="text-subtitle-2 tracking-[10px] text-center">Collection</p>
    <h4
      class="top-1/2 left-1/2 font-bondi text-9xl text-gray/20 absolute z-0 italic font-bold -translate-x-1/2 -translate-y-1/2"
    >
      10
    </h4>
  </header>

  <!-- Collection  -->

  <div class="md:grid-cols-2 grid grid-cols-1 gap-6 mt-20">
    <!-- Items  -->
    <article
      class="hover:scale-105 transition-transform divide-red-300 cursor-pointer"
      routerLink="/collectiondetails"
    >
      <figure>
        <img
          src="./assets/images/col.png"
          alt="collection photo"
          class="h-96 w-full"
        />
      </figure>

      <figcaption class="flex items-center justify-between gap-10">
        <p
          class="grow relative font-bondi text-title font-semibold before:content-[''] before:absolute before:w-5/6 before:h-px before:bg-primary/50 before:top-1/2 before:-translate-y-1/2 before:left-8"
        >
          01
        </p>

        <span class="text-subtitle-1 shrink-0 uppercase"
          >October collection</span
        >
      </figcaption>
    </article>

    <!-- Items  -->
    <article
      class="hover:scale-105 transition-transform divide-red-300 cursor-pointer"
      routerLink="/collectiondetails"
    >
      <figure>
        <img
          src="./assets/images/col1.png"
          alt="collection photo"
          class="h-96 w-full"
        />
      </figure>

      <figcaption class="flex items-center justify-between">
        <p
          class="grow relative font-bondi text-title font-semibold before:content-[''] before:absolute before:w-5/6 before:h-px before:bg-primary/50 before:top-1/2 before:-translate-y-1/2 before:left-8"
        >
          02
        </p>
        <span class="text-subtitle-1 shrink-0 uppercase">Black collection</span>
      </figcaption>
    </article>

    <!-- Items  -->
    <article
      class="hover:scale-105 transition-transform divide-red-300 cursor-pointer"
      routerLink="/collectiondetails"
    >
      <figure>
        <img
          src="./assets/images/col2.png"
          alt="collection photo"
          class="h-96 w-full"
        />
      </figure>

      <figcaption class="flex items-center justify-between">
        <p
          class="grow relative font-bondi text-title font-semibold before:content-[''] before:absolute before:w-5/6 before:h-px before:bg-primary/50 before:top-1/2 before:-translate-y-1/2 before:left-8"
        >
          03
        </p>
        <span class="text-subtitle-1 shrink-0 uppercase">HAE BY HAEKIM</span>
      </figcaption>
    </article>
  </div>
</section>
