<footer>
  <div class="container">
    <!-- =================== Social ===================  -->
    <ul class="flex space-x-12 items-center justify-center w-1/2 mx-auto">
      <li>
        <a href="javascript:void"
          ><i class="fab fa-twitter fa-xl text-gray"></i
        ></a>
      </li>
      <li>
        <a href="javascript:void"
          ><i class="fab fa-instagram fa-xl text-gray"></i
        ></a>
      </li>
      <li>
        <a href="javascript:void"
          ><i class="fab fa-youtube fa-xl text-gray"></i
        ></a>
      </li>
    </ul>
    <span class="line"></span>

    <!-- =================== Data ===================  -->
    <ul class="text-center space-y-2">
      <li>
        <a href="mailto:amelmaster16@gmail.com">amelmaster16@gmail.com</a>
      </li>
      <li><a href="tel:+201015265077">+201015265077</a></li>
      <li>08:00 - 22:00 - Everyday</li>
    </ul>
    <span class="line"></span>

    <!-- =================== Links ===================  -->

    <ul class="flex items-center justify-center space-x-10">
      <li>
        <a
          routerLink="/ourstory"
          class="transition-colors duration-300 hover:text-primary"
          >About</a
        >
      </li>

      <li>
        <a
          routerLink="/blog"
          class="transition-colors duration-300 hover:text-primary"
          >Contact</a
        >
      </li>

      <li>
        <a
          routerLink="/Blog"
          class="transition-colors duration-300 hover:text-primary"
          >About</a
        >
      </li>
    </ul>
    <p class="text-center text-xs mt-6">
      Copyright© {{ cuentYear }} AHMED MENISY All Rights Reserved.
    </p>
  </div>
</footer>
