<footer>
  <div class="container">
    <!-- =================== Social ===================  -->
    <ul class="flex items-center justify-center w-1/2 mx-auto space-x-12">
      <li>
        <a href="javascript:void"
          ><i class="fab fa-twitter fa-xl text-gray"></i
        ></a>
      </li>
      <li>
        <a href="javascript:void"
          ><i class="fab fa-instagram fa-xl text-gray"></i
        ></a>
      </li>
      <li>
        <a href="javascript:void"
          ><i class="fab fa-youtube fa-xl text-gray"></i
        ></a>
      </li>
    </ul>
    <span class="line"></span>

    <!-- =================== Data ===================  -->
    <ul class="space-y-2 text-center">
      <li>
        <a href="mailto:amelmaster16@gmail.com">amelmaster16@gmail.com</a>
      </li>
      <li><a href="tel:+201015265077">+201015265077</a></li>
      <li>08:00 - 22:00 - Everyday</li>
    </ul>
    <span class="line"></span>

    <!-- =================== Links ===================  -->

    <ul class="flex items-center justify-center space-x-10">
      <li>
        <a
          routerLink="/ourstory"
          routerLinkActive="text-primary"
          class="hover:text-primary transition-colors duration-300"
          >About</a
        >
      </li>

      <li>
        <a
          routerLink="/contactus"
          routerLinkActive="text-primary"
          class="hover:text-primary transition-colors duration-300"
          >Contact</a
        >
      </li>

      <li>
        <a
          routerLink="/blog"
          routerLinkActive="text-primary"
          class="hover:text-primary transition-colors duration-300"
          >Blog</a
        >
      </li>
    </ul>
    <p class="mt-6 text-xs text-center">
      Copyright© {{ cuentYear }} AHMED MENISY All Rights Reserved.
    </p>
  </div>
</footer>
