<section class="py-[70px] grid gap-8 grid-cols-1 md:grid-cols-2 container">
  <article>
    <div class="aspect-w-4 aspect-h-3">
      <img src="./assets/images/blog.png" alt="blog post photo" />
    </div>

    <h3 class="text-subtitle-2 my-2">
      2021 Style Guide: The Biggest Fall Trends
    </h3>
    <p class="text-body-md text-justify">
      You guys know how much I love mixing high and low-end – it’s the best way
      to get the most bang for your buck while still elevating your wardrobe.
      The same goes for handbags! And honestly they are probably the best pieces
      to mix and match. I truly think the key to completing a look is with a
      great bag and I found so many this year that I wanted to share a round-up
      of my most worn handbags.
    </p>
  </article>

  <article>
    <div class="aspect-w-4 aspect-h-3">
      <img src="./assets/images/blog-post.png" alt="blog post photo" />
    </div>

    <p class="text-body-md mt-3 text-justify">
      I found this
      <span class="text-secondary">Saint Laurent canvas handbag</span> this
      summer and immediately fell in love. The neutral fabrics are so beautiful
      and I like how this handbag can also carry into fall. The mini Fendi
      bucket bag with the sheer fabric is so fun and such a statement bag. Also
      this DeMellier off white bag is so cute to carry to a dinner with you or
      going out, it’s small but not too small to fit your phone and keys still.
    </p>

    <p class="my-6">Posted by OpenFashion | <span>3 Days ago</span></p>

    <ul class="flex items-center gap-3">
      <li class="tags-light">#Fashion</li>
      <li class="tags-light">#Tips</li>
    </ul>
  </article>
</section>
