<app-nav-bar></app-nav-bar>

<!-- Info  -->
<section class="py-20">
  <h2 class="title font-bondi uppercase">OUR Story</h2>
  <div class="line mt-3"></div>

  <article class="mt-6">
    <div
      class="aspect-w-16 aspect-h-9 bg-[url('./assets/images/ourstory.png')] bg-fixed"
    ></div>
    <div class="line"></div>
    <div class="container text-justify">
      <p class="text-subtitle-1 my-3">
        Open Fashion - Free Ecommerce UI Kit is a free download UI kit. You can
        open Open Fashion - Free Ecommerce UI Kit file by Figma.
      </p>
      <p class="text-subtitle-1">
        Create stunning shop with bulletproof guidelines and thoughtful
        components. Its library contains more than 50+ components supporting
        Light & Dark Mode and 60+ ready to use mobile screens.
      </p>
    </div>
  </article>
</section>

<!-- Signup  -->

<section class="container py-5 pb-20">
  <!-- Title  -->
  <h2 class="title font-bondi my-4 uppercase">sign up</h2>
  <div class="line mt-3"></div>

  <!-- text  -->
  <p class="text-light text-body-lg text-center">
    Receive early access to new arrivals, sales, exclusive content, events and
    much more!
  </p>

  <form class="grid w-1/2 gap-10 mx-auto mt-5">
    <input type="email" placeholder="Email adress" class="input-under" />

    <button
      class="font-bondi hover:bg-orange-500 active:bg-orange-900 py-3 space-x-4 text-center text-white uppercase transition-colors duration-300 bg-black"
    >
      <span>submit</span>
      <i class="fa-solid fa-right-long fa-fw"></i>
    </button>
  </form>
</section>

<app-footer></app-footer>
