<app-nav-bar></app-nav-bar>

<section class="container py-20">
  <h2 class="title font-bondi">Contact us</h2>
  <div class="line"></div>

  <div class="md:grid-cols-2 lg:grid-cols-3 gap-7 grid grid-cols-1">
    <!-- item  -->
    <article>
      <p class="text-primary text-center">
        <i class="fa-regular fa-comment-dots fa-4x"></i>
      </p>

      <p class="text-body-md text-light mt-4 text-justify">
        Need an ASAP answer? Contact us via chat, 24/7! For existing furniture
        orders, please call us.
      </p>

      <a
        href="https://api.whatsapp.com/send?phone=01015265077"
        target="_blank"
        class="hover:bg-orange-500 active:bg-orange-900 block w-4/5 py-2 mx-auto mt-3 text-center text-white uppercase transition-colors duration-300 bg-black"
      >
        Chat witH us
      </a>
    </article>

    <!-- item  -->
    <article>
      <p class="text-primary text-center">
        <i class="fa-solid fa-envelope-open-text fa-4x"></i>
      </p>

      <p class="text-body-md text-light mt-4 text-justify">
        You can text us at 800-309-2622 – or click on the “text us” link below
        on your mobile device. Please allow the system to acknowledge a simple
        greeting (even “Hi” will do!) before providing your question/order
        details. Consent is not required for any purchase. Message and data
        rates may apply. Text messaging may not be available via all carriers.
      </p>

      <a
        href="mailto:amelmaster16@gmail.com"
        target="_blank"
        class="hover:bg-orange-500 active:bg-orange-900 block w-4/5 py-2 mx-auto mt-3 text-center text-white uppercase transition-colors duration-300 bg-black"
      >
        Text us
      </a>
    </article>

    <!-- item  -->
    <article>
      <p class="text-primary text-center">
        <i class="fab fa-twitter fa-4x"></i>
      </p>

      <p class="text-body-md text-light mt-4 text-justify">
        To send us a private or direct message, like @Open Fashion on Facebook
        or follow us on Twitter. We’ll get back to you ASAP. Please include your
        name, order number, and email address for a faster response!
      </p>
    </article>
  </div>
</section>

<app-footer></app-footer>
